[Unit]
Description=Jupyter Notebook Service

[Service]
Type=simple
User=ubuntu
ExecStart=/bin/sh -c "jupyter lab --allow-root --NotebookApp.token='' --no-browser --ip=0.0.0.0"
WorkingDirectory=/home/ubuntu
Restart=always

[Install]
WantedBy=multi-user.target
