[Unit]
Description=Jupyter Notebook Service

[Service]
Type=simple
User=ubuntu
ExecStart=/bin/sh -c "jupyter lab --ip=0.0.0.0 --no-browser"
WorkingDirectory=/home/ubuntu
Restart=always

[Install]
WantedBy=multi-user.target
